* {
  scroll-behavior: smooth;
}

.arrow span {
  display: flex;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #ff4000;
  border-right: 5px solid #ff4000;
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
